version: '3.8'

services:
  frontend:
    build: ./GymLogFrontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build: ./GymLogServer
    environment:
      - ASPNETCORE_URLS=http://+:5198
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=gymlogdb;Username=postgres;Password=123
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: gymlog-postgres
    environment:
      - POSTGRES_DB=gymlogdb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:

networks:
  default:
    driver: bridge